body {
    margin: 0;
    padding: 0;
}

div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
/*****************************
    Heading
*****************************/

#heading {
    background-color: aquamarine;
    color: crimson;
    height: 150px;
    width: 100%;
    text-align: center;
    
}

#main-headline {
    margin-top: 30px;
    padding: 20px 0px 20px 0px;
    background-color: yellow;
    font-size: 50px;
    
}

#sub-headline {
    margin-top: 10px 0 10px 0;
    padding: 10px 0px 10px 0px;
    background-color: pink;
    font-size: 30px;
    color: rgb(16, 17, 17);
    
}

#taught-by {
    background-color: blanchedalmond;
    color: black;
    text-align: left;
    width: 26%;
    height: 200px;
    float: left;
    margin: 5px 10px 0 70px;
    padding: 20px 20px 0px 30px;
    border-radius: 15px;
}

#course-duration {
    background-color: rgb(133, 231, 240);
    color: black;
    text-align: left;
    width: 30%;
    height: 200px;
    float: left;
    margin: 5px 10px 0 30px;
    padding: 20px 20px 0px 20px;
    border-radius: 15px;

}
#course-fees {
    background-color: rgb(239, 125, 140);
    color: black;
    text-align: left;
    width: 27%;
    height: 200px;
    float: left;
    margin: 5px 10px 0 30px;
    padding: 20px 20px 0px 20px;
    border-radius: 15px;

}

/************************
    Fix Floating
*************************/

#fix {
    clear: both;
}

/*************************
  1st 2 weeks
************************/

  #first-two-weeks{
    background-color: rgb(199, 235, 113);
    width: 29%;
    height: 320px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;
  }

  #topic-html {
    background-color: lightseagreen;
    width: 64%;
    height: 320px;
    margin: 10px 10px 0px 25px;
    padding: 40px 40px 40px 200px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;
  }

  #first-two-weeks-bonus {
    background-color: rgb(77, 205, 169);
    width: 29%;
    height: 320px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

  }

  #topic-git-and-github {
        background-color: rgb(230, 197, 224);
        width: 64%;
        height: 320px;
        margin: 10px 10px 0px 25px;
        padding: 40px 40px 40px 200px;
        float: left;
        border-radius: 15px;
        box-sizing: border-box;
  }
 
  /*************************
       TOPIC - CSS
  **************************/

  #third-and-fourth-weeks {

    background-color: rgb(118, 217, 242);
    width: 29%;
    height: 355px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

  }

  #topic-css3 {

    background-color: rgb(156, 239, 163);
    width: 64%;
    height: 355px;
    margin: 10px 10px 0px 25px;
    padding: 40px 40px 40px 200px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;


  }

  /**********************
    Week - 05: FlexBox
   **********************/
#fifth-week {
    background-color: rgb(236, 213, 204);
    width: 29%;
    height: 315px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;
}

#topic-flexbox {

    background-color: rgb(241, 216, 238);
    width: 64%;
    height: 315px;
    margin: 10px 10px 0px 25px;
    padding: 40px 40px 40px 200px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;
}

/**************************
    Topic- GRID
***************************/

#sixth-week {
    background-color: rgb(135, 226, 228);
    width: 29%;
    height: 315px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

}

#topic-grid {
    background-color: rgb(231, 238, 186);
    width: 64%;
    height: 315px;
    margin: 10px 10px 0px 25px;
    padding: 40px 40px 40px 200px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;


}

/*************************************
    WEEK - 07 & 08 : BOOTSTRAP & REVISITING
**************************************/

#week-seven-and-eight {
    background-color: rgb(135, 226, 228);
    width: 29%;
    height: 315px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

}

#topic-bootstrap {
        background-color: rgb(231, 238, 186);
        width: 64%;
        height: 315px;
        margin: 10px 10px 0px 25px;
        padding: 40px 40px 40px 200px;
        float: left;
        border-radius: 15px;
        box-sizing: border-box;
    
    
    
}

/*************************
   Week 09-12: JavaScript
***************************/

#week-nine-to-twelve {
    background-color: rgb(135, 226, 228);
    width: 29%;
    height: 615px;
    margin: 10px 10px 0px 60px;
    padding: 40px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

}

#topic-javascript {
    background-color: rgb(231, 238, 186);
    width: 64%;
    height: 615px;
    margin: 10px 10px 0px 25px;
    padding: 40px 40px 40px 200px;
    float: left;
    border-radius: 15px;
    box-sizing: border-box;

}

/************************
    REACT.JS
*************************/

#react-js {
    background-color: rgb(240, 97, 178);
    width: 100%;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;

}


/************************
    NODE.JS
*************************/

#node-js {
    background-color: lightgreen;
    width: 100%;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;

}